# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Mobile
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/android/**.keystore
**/android/**.jks

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
aiassistant/backend/uploads/*
!aiassistant/backend/uploads/.gitkeep
.kluster/
.agent/
query
